body {
    font-size:  48px;
    font-family:
        "Hiragino Mincho",
        "Noto Serif CJK JP",
        "SimSun",
        "Yu Minco", "YuMincho",
        "Sazanami Mincho",
        "Yu Gothic", "YuGothic",
        "MS Gothic",
        serif
    ;
}

table {
    width:  100%
}
td.prev {
    text-align:  left;
}
td.next {
    text-align:  right;
}

.borderless {
    border:  none;
}
.bordered {
    border:  1px solid gray;
    width :  100%;
}
